/* v 1.05 */
/* RESET */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin : 0;
padding : 0;
border : 0;
outline : 0;
font-size : 100%;
vertical-align : baseline;
background : transparent;
}
body {
line-height : 1;
}
ol, ul {
list-style : none;
}
blockquote, q {
quotes : none;
}
blockquote:before, blockquote:after, q:before, q:after {
content : '';
content : none;
}
:focus {
outline : 0;
}
ins {
text-decoration : none;
}
del {
text-decoration : line-through;
}
table {
border-collapse : collapse;
border-spacing : 0;
}
a {
text-decoration: none;
}

body {
	font-family: 'Open Sans';
    font-weight: 300;
	background: #FFF;
	color: #333;
	-webkit-text-size-adjust: none;
}
body.show-nav {
	height: 100%;
	overflow: hidden;
}

/* inlines */

h2 {
    font-family: 'Open Sans';
	font-size: 62px;
    font-weight: 300;
	text-transform: uppercase;
	color: #16A085;
	margin-bottom: 50px;
}
h2 span{
    font-weight: 400;
}
h2 b {
	font-size: 48px;
	
}
h3 {
	font-family: 'Open Sans';
    font-size: 42px;
    font-weight: 300;
	text-transform: uppercase;
    color: #16A085;
	margin-bottom: 30px;
    clear: both;
}
h3 span{
    font-weight: 400;
}
h4 {
	font-family: 'Open Sans';
	text-transform: uppercase;
	font-size: 20px;
	
	margin-bottom: 10px;
}
h5 {
	font-family: 'Open Sans';
	text-transform: uppercase;
	font-size: 20px;

	margin-bottom: 10px;
}
p {
	line-height: 1.3em;
	font-size: 18px;
	margin-bottom: 10px;
}
p a,
li a {
	color: #0c94b6;
}
.align-center {
	text-align: center;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.align-justify {
	text-align: justify;
}
.float-left {
	float: left;
	margin: 5px 20px 20px 0;
}
.float-right {
	float: right;
	margin: 10px 0 20px 20px
}
.no-margin {
	margin: 0;
}
img.icon-128 {
    width: 128px;
}
img.icon-128.float-left {
    margin: 5px 40px 10px 0;
}
img.icon-50 {
     width: 50px;
 }
img.icon-25 {
	width: 25px;
}
img.icon-25.float-left {
	margin: 0 10px 10px 0;
}
img.align-center {
	display: block;
	margin: 20px auto 20px;
}
ul li {
	line-height: 1.3em;
}

/* buttons */

.button {
	border: none;
	background: #27AE60;
	font-family: 'Open Sans';
	font-size: 20px;
    line-height: 20px;
    height: 38px;
	padding: 6px 7px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
}
.button.rounded {
	border-radius: 256px;
}
.button:hover {

}
.button.blue {
	background: #0c94b6;
	color: #FFF;
	box-shadow: 0 2px 0 #0a7691;
}
.button.green {
	background: #39cd94;
	color: #FFF;
	box-shadow: 0 2px 0 #239e6e;
}
.button.light-grey {
	background: #E5E5E5;
	color: #333;
	box-shadow: 0 2px 0 rgba(0,0,0,0.2);
}
.button.grey {
	background: #777;
	color: #FFF;
	box-shadow: 0 2px 0 #555;
}
.button.blue:hover {
	box-shadow: 0 3px 0 #0a7691;
}
.button.green:hover {
	box-shadow: 0 3px 0 #239e6e;
}
.button.light-grey:hover {
	box-shadow: 0 3px 0 rgba(0,0,0,0.2);
}
.button.grey:hover {
	box-shadow: 0 3px 0 #555;
}

#wrapper {	
	width: 100%;
    overflow: hidden;
	-webkit-transition: margin .1s;
	-moz-transition: margin .1s;
	-ms-transition: margin .1s;
	transition: margin .1s;
}

/* header */

#main-header {
	position: fixed;
	z-index: 10;
	width: 100%;
	box-shadow: inset 0 3px 0 rgba(0,0,0,0.1);
	height: 96px;
	/* background-image: linear-gradient(#ffffff 0%, rgba(255,255,255,0) 100%); */
	
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	transition: all .25s;
}
#header-nav {
	width: 960px;
	margin: 0 auto;
	position: relative;
	/*overflow: hidden;*/
	height: 96px;
	
	-webkit-transition: background .25s;
	-moz-transition: background .25s;
	-ms-transition: background .25s;
	transition: background .25s;
}
#header-nav ul {
	float: right;
    margin-right: 80px;
}
#header-nav ul li {
	float: left;
	line-height: 1em;
}
#header-nav ul li a {
	padding: 40px 10px;
	display: block;
	color: #fff;
	font-size: 16px;
    font-weight: 400;
	-webkit-transition: all .05s;
	-moz-transition: all .05s;
	-ms-transition: all .05s;
	transition: all .05s;
}
#header-nav ul li.home a{
    background: url("../images/home.png") no-repeat 50% 50%;
    text-indent: -9999px;
    width: 30px;
}
#header-nav ul li.home a:hover,
#header-nav ul li.home.current a  {
    background: url("../images/home_.png") no-repeat 50% 50%;
}
#header-nav ul li.current a  {
	box-shadow: inset 0 3px 0 #FBD63B;
    color: #FBD63B;
}
#header-nav ul li a:hover{
    color: #FBD63B;
}
#header-nav .logo  {
	position: absolute;
	left: 0;
	top:0;
	color: #fff;
	font-size: 56px;
    height: 56px;
	padding: 0;
	width: auto;
	-webkit-transition: all .15s;
	-moz-transition: all .15s;
	-ms-transition: all .15s;
	transition: all .15s .15s;
}
#header-nav .logo.img{
}
#header-nav .logo2 {
    background: url('../images/logo2.png') no-repeat 50% 50%;
    width: 60px;
    height: 60px;
    position: absolute;
    top: -70px;
    left: 50%;
    margin-left: -30px;
    opacity: 1;
    -webkit-transition: all .15s;
    -moz-transition: all .15s;
    -ms-transition: all .15s;
    transition: all .15s;
}
#header-nav .logo3{
    background: url('../images/logo3.png') no-repeat 50% 50%;
    width: 50px;
    height: 56px;
    position: absolute;
    top: 0;
    left: -60px;
    opacity: 0;
    -webkit-transition: all .15s;
    -moz-transition: all .15s;
    -ms-transition: all .15s;
    transition: all .15s;
}
#header-nav .logo.img a {
	/* Put the url of your logo below */
	background: url('../images/logo.png') no-repeat left center;
	/* Specify the width of your logo */
    position: relative;
	width: 214px;
	display: block;
	text-indent: 9999px;	
	height: 100%;
	background-size: contain;
    margin-top: 120px;
    -webkit-transition: all .15s;
    -moz-transition: all .15s;
    -ms-transition: all .15s;
    transition: all .15s;
}
#header-nav .logo a {
	color: inherit;
}
#header-nav .logo.img a {
	display: block;
	text-indent: -9999px
}
#header-nav ul li.logo a:hover {
	background: none;
	box-shadow: none;
}
.lang {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 96px;
    color: #fff;
    font-weight: 400;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    transition: all .25s;
}
.lang a{
    color: #fff;
    text-decoration: none;
}
.lang a.active{
    color: #fbd63b;
	cursor: text;
}
#main-header.compact {
	height: 56px;
	/*background: rgba(255,255,255,1);*/
	background: rgba(22,160,134,1);
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
}
#main-header.compact #header-nav {
	height: 56px;
}
#main-header.compact #header-nav ul li a {
	padding: 20px 10px;
}
#main-header.compact #header-nav .logo {

}
#main-header.compact #header-nav .logo.img {
    left: 60px;
}
#main-header.compact .logo2{
    opacity: 0;
}
#main-header.compact .logo3{
    opacity: 1;
}
#main-header.compact #header-nav .logo.img a {
	height: 100%;
    margin-top: 0;
}
#main-header.compact .lang{
    line-height: 56px;
}
#nav-trigger {
	display: none;
	position: absolute;
	top:15px;
	right: 0;
	width: 24px;
	height: 24px;
	background: url('../images/icon_sandwich.png') no-repeat center center;
	background-size: 24px;
	text-indent: -9999px;
	
	-webkit-transition: top .25s;
	-moz-transition: top .25s;
	-ms-transition: top .25s;
	transition: top .25s;
}
#main-header.compact #nav-trigger {

}
.show-nav #wrapper {
	margin-left: -240px;
}
.show-nav #header-nav-container {
	margin-right: 240px;
}

/* sections general */

section {
	/*box-shadow: 0 -3px 0 rgba(0,0,0,0.1);*/
	position: relative;
}
.container {
	width: 960px;
	margin: 0 auto;
	padding: 50px 0 80px;
}

/* sections backs */
.back-hexagons {
	background: url("../images/patt_hexagons.png");
}
.back-ticksanddots {
	background: url("../images/patt_ticksanddots.png");
}

/* columns */

.column-container{
	overflow: hidden;
	margin: 40px 0 -40px;
}
.column-container.last {
	margin-bottom: 0;
}
.column {
	float: left;
	padding: 0 40px 40px 0;
}
.column.last {
	padding-right: 0;
}
.column.one-half {/*1-2 колонки*/
	width: 460px;
}
.column.one-third {/*1-3 колонки*/
	width: 290px;
}
.column.two-thirds {/*2-3 колонки*/
	width: 590px;/*width: 630px;*/
}
.column.one-third2 {/*1-3 колонки*/
    width: 420px;
}
.column.two-thirds2 {/*2-3 колонки*/
    width: 500px;
}
.column.one-fourth {/*1-4 колонки*/
	width: 230px;
}
.column.three-fourths {/*3-4 колонки*/
	width: 700px;
}

/* section cover */

#cover {
	background: #16a086 url("../images/cover_back.png") center bottom no-repeat;
	font-size: 1.3em;
}
#cover .container {
	padding: 240px 0 200px 0;
}
#cover p {
	padding-right: 560px;
    color: #fff;
    text-transform: uppercase;
}
#cover h2 {
	font-size: 62px;
	line-height: 70px;
	margin: 20px 0;
    color: #fff;
    font-weight: 300;
}

/* section about-us */
#about-us {
}
#about-us p{
    margin-bottom: 20px;
}
#about-us .about-us-img{
    min-height: 330px;
    background: url("../images/about-us.png") 50% 30% no-repeat;
}

/* section you-get */
#you-get {
}
#you-get p {
    margin-left: 70px;
}

/*areas-of-cooperation*/
#areas-of-cooperation p{
    margin-left: 168px;
    text-align: justify;
}
.areas-of-cooperation-ul{
    margin: 0;
    list-style: none;
    position: relative;
    padding-bottom: 80px;
}
.areas-of-cooperation-ul .item{
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 10px;
    cursor: pointer;
    background: #16A086;
    color: #fff;
    padding: 5px 20px;
    clear: both;
    box-shadow: 2px 2px 2px rgba(0,0,0,.3);
    -webkit-transition: background .2s;
    -moz-transition: background .2s;
    -ms-transition: background .2s;
    transition: background .2s;
}
.areas-of-cooperation-ul .item.item-last{
    margin-bottom: 20px;
}
.areas-of-cooperation-ul .item.item-buh{
    background: #E0B518;
    color: #fff;
}
.areas-of-cooperation-ul .item:first-child{
    display: none;
}
.areas-of-cooperation-ul .item.current{
    background: #18BF9D;
    color: #fff;
}
.areas-of-cooperation-ul .item.item-buh.current{
    background: #FFD223;
    color: #fff;
}

#areas-of-cooperation-container{
    height: 350px;
}
#areas-of-cooperation-container li:first-child p{
    margin-left: 0;
}
/* section testimonials */

#areas-of-cooperation {
	overflow: hidden;
}
.areas-of-cooperation-ul li.description{
    left: 440px;
    position: absolute;
    top: 0;
    /*opacity: 0;*/
    width: 500px;
    display: none;
}
#areas-of-cooperation .areas-of-cooperation-ul li.description p{
    /*opacity: 0;*/
    margin-left: 0;
    /*-webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;*/
}
.areas-of-cooperation-ul li.description.current {
    /*opacity: 1;*/
}
#areas-of-cooperation .areas-of-cooperation-ul li.description.current p {
    /*opacity: 1;*/
}
/*
#areas-of-cooperation-container {
	position: relative;
}
#areas-of-cooperation-container li {
	left: 0;
	position: absolute;
	top: 0;
	opacity: 0;
}

#areas-of-cooperation-container p {
	opacity: 0;
}
#areas-of-cooperation-container p {
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-ms-transition: opacity .5s;
	transition: opacity .5s;
}
#areas-of-cooperation-container li.current {
	opacity: 1;
}
#areas-of-cooperation-container li.current p {
	opacity: 1;
}
*/

/* section contacts */

#contact{
    background: #16A085;
    color: #fff;
    margin-bottom: -61px;
}
#contact h2{
    color: #fff;
}
.contact-address{
    font-size: 20px;
    margin-bottom: 10px;
}
.contact-tel{
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 25px;
}
.contact-work{
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 25px;
}
.contact-work h4{
    font-size: 24px;
    line-height: 1.2;
    font-weight: 300;
}
.skype-email{
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 50px;
}
.skype-email a{
    color: #fff;
    text-decoration: underline;
}
.skype-email a:hover{
    text-decoration: none;
}
#contact-form{
    min-height: 100px;
}
form {
	position: relative;
}
form div.submit {
	background: #FFF;
	margin: 0 0 10px;
	padding: 1px 1px 1px 10px;
	box-shadow: 0 2px 0 rgba(0,0,0,0.1);
	position: relative;
}
.form-submit{
    float: right;
}
#contact-phone{
    padding: 6px 0 6px 0;
    height: 26px
}
#contact-phone{
    overflow: hidden;
}
input,
textarea {
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	font-family: 'Open Sans';
	font-size: 18px;
	color: #333;
}
form textarea {
	height: 90px;
}
.form-success-message {
	z-index: 0;
	opacity: 0;
	position: absolute;
	padding: 20px 0;
}
.form-success-message p{
    padding-left: 0;
}

form .invalid {
	-webkit-animation: shake .25s;
	-moz-animation: shake .25s;
	-ms-animation: shake .25s;
	animation: shake .25s;
}
form.sent * {
	-webkit-animation: fadeOutIn 5s;
	-moz-animation: fadeOutIn 5s;
	-ms-animation: fadeOutIn 5s;
	animation: fadeOutIn 5s;
}
form.sent .form-success-message,
form.sent .form-success-message * {
	-webkit-animation: fadeInOut 5s;
	-moz-animation: fadeInOut 5s;
	-ms-animation: fadeInOut 5s;
	animation: fadeInOut 5s;
    background: none;
    box-shadow: none;
}

/* Animations */

@keyframes shake {
	0%		{ margin-left: 0; }
	12% 	{ margin-left: -5px; }
	25%		{ margin-left: 0; }
	37% 	{ margin-left: 5px; }
	50% 	{ margin-left: 0; }
	62% 	{ margin-left: -5px; }
	74%		{ margin-left: 0; }
	86% 	{ margin-left: 5px; }
	100% 	{ margin-left: 0; }
}
@-webkit-keyframes shake {
	0%		{ margin-left: 0; }
	12% 	{ margin-left: -5px; }
	25%		{ margin-left: 0; }
	37% 	{ margin-left: 5px; }
	50% 	{ margin-left: 0; }
	62% 	{ margin-left: -5px; }
	74%		{ margin-left: 0; }
	86% 	{ margin-left: 5px; }
	100% 	{ margin-left: 0; }
}
@keyframes fadeOutIn {
	0%		{ opacity: 1; }
	5% 	{ opacity: 0; }
	95%		{ opacity: 0; }
	100% 	{ opacity: 1; }
}
@-webkit-keyframes fadeOutIn {
	0%		{ opacity: 1; }
	5% 	{ opacity: 0; }
	95%		{ opacity: 0; }
	100% 	{ opacity: 1; }
}
@keyframes fadeInOut {
	0%		{ opacity: 0; }
	15% 	{ opacity: 1; }
	85%		{ opacity: 1; }
	100% 	{ opacity: 0; }
}
@-webkit-keyframes fadeInOut {
	0%		{ opacity: 0; }
	15% 	{ opacity: 1; }
	85%		{ opacity: 1; }
	100% 	{ opacity: 0; }
}
a.logo {
	font-size: 48px;
	color: #333;
	display: block;
	padding: 45px 10px;
}

/* footer */
footer {
	background: #16A085;
	color: #fff;
    box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.1);
    position: relative;
}
footer .container {
	padding: 20px 0 10px;
	overflow: hidden;
}
footer .column {
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 1.2;
}
p#footer-copyright {
	float: right;
	width: auto;
}
ul#footer-socials {
	float: left;
	margin: -5px 0 0;
	overflow: hidden;
}
ul#footer-socials li {
	float: left;
	margin: 0;
}
ul#footer-socials a {
	display: block;
	text-indent: -9999px;
	color: #333;
	width: 30px;
	height: 30px;
	opacity: 1;
    margin-right: 12px;
}
ul#footer-socials a:hover {
	opacity: 0.7;
}
a#icon-fb {
	background: url("../images/social_fb.png") no-repeat center center;
}
a#icon-vk {
	background: url("../images/social_vk.png") no-repeat center center;
}
a#icon-g {
	background: url("../images/social_g.png") no-repeat center center;
}

/* magic media queries */

@media all and (max-height: 1024px) and (max-width: 1024px) {
	
	section .container,
	#header-nav,
	footer .container {
		width: 900px;
	}
	#cover p {
		padding-right: 480px;
	}
	.column.one-third {
		width: 273px
	}
	.column.two-thirds {
		width: 587px
	}
	.column.one-half {
		width: 430px
	}
	.column.one-fourth {
		width: 195px
	}
	.column.three-fourths {
		width: 665px
	}

}

@media all and (max-width: 1023px) {
    #cover h2 {
        font-size: 46px;
        line-height: 1.2;
    }
    .areas-of-cooperation-ul li.description{
        left: 0;
        position: relative;
        top: 0;
        /*opacity: 0;*/
        width: auto;
    }
    #areas-of-cooperation .areas-of-cooperation-ul li.description p{
        /*opacity: 0;*/
    }
    .areas-of-cooperation-ul li.description.current {
        /*opacity: 1;*/
    }
    #areas-of-cooperation .areas-of-cooperation-ul li.description.current p {
       /* opacity: 1;*/
    }

    #header-nav ul li.home a{
        background: none;
        text-indent: 0;
        width: auto;
    }
    #header-nav ul li.home a:hover,
    #header-nav ul li.home.current a  {
        background: none;
    }

	section .container,
	#header-nav,
	footer .container {
		width: 640px;
        position: relative;
	}
    section#cover .container{
        width: auto;
        padding-left: 20px;
    }
	#nav-trigger {
		display: block;
	}
	.column.one-third,
	.column.two-thirds,
    .column.one-third2,
    .column.two-thirds2,
	.column.one-half,
	.column.one-fourth,
	.column.three-fourths {
		width: 100%;
		padding-right: 0;
	}
	#cover p {
		padding-right: 220px;
	}
    #about-us .about-us-img{
        position: absolute;
        top: 10px;
        right: 0;
        width: 130px;
        height: 130px;
        min-height: 130px;
        background-position: 50% 50%;
        background-size: 100% 100%;
    }
	#you-get .column.one-third {
		width: 300px;
	}
	#you-get .column.one-third:nth-child(odd) {
		padding-right: 40px;
	}
	
	#header-nav {
		position: relative;
		padding: 0;
		margin: 0 auto;
		height: auto;
		overflow: visible;
		width: 100%;
	}
	#header-nav .logo {
		left: 20px;
	}
	#nav-trigger {
		right: 20px;
	}
	#header-nav-container {
		background: #16A086;
		position: fixed;
		right: -240px;
		top:0;
		height: 100%;
		width: 200px;
		padding: 20px;
		box-shadow: inset 2px 0 1px rgba(0,0,0,0.3);
		overflow: scroll;
		
		-webkit-transition: margin .1s;
		-moz-transition: margin .1s;
		-ms-transition: margin .1s;
		transition: margin .1s;
	}
	#header-nav ul {
		height: auto;
		width: 100%;
		padding-bottom: 50px;
        margin-right: 0;
	}
	#header-nav ul li {
		display: block;
		float: none;
	}
	#header-nav ul li a {
		color: #fff;
		padding: 15px 5px;
		box-shadow: 0 1px 0 rgba(255,255,255,0.2), inset 0 -1px 0 rgba(0,0,0,.1);
	}
	#main-header.compact #header-nav ul li a {
		padding: 15px 5px;
	}
	#header-nav ul li:last-child a {
		border: none;
	}
	#header-nav ul li.current a,
	#header-nav ul li a:hover {
		background: none;
        box-shadow: 0 1px 0 rgba(255,255,255,0.2), inset 0 -1px 0 rgba(0,0,0,.1);
		color: #fbd63b;
	}
	#header-nav .more {
		position: absolute;
		top: 0;
		left: -60px;
		/*background-image: url("../images/nav_more_m.png");*/
		background-size: 16px;
		height: 32px;
		width: 32px;
	}
    .lang {
        line-height: 56px;
        right: 70px;
    }
}
@media all and (max-width: 640px) {
    #cover h2 {
        font-size: 46px;
        line-height: 1.2;
    }
    #header-nav ul li.home a{
        background: none;
        text-indent: 0;
        width: auto;
    }
    #header-nav ul li.home a:hover,
    #header-nav ul li.home.current a  {
        background: none;
    }
	h2 {
		font-size: 2.8em
	}
	h3 {
		margin-bottom: 15px;
	}
	.column {
		padding-bottom: 20px;
	}
	.column-container {
		margin-bottom: 0;
	}
	.column-container {
		margin-top: 0;
	}
	section .container {
		width: 400px;
		padding: 50px 0;
		margin: 0 auto;
	}
	#main-header,
	#main-header nav a/*,
	#main-header .logo */ {
		-webkit-transition: none;
		-moz-transition: none;
		-ms-transition: none;
		transition: none;
	}
	
	#main-header {
		height: 56px;
		background: rgba(22, 160, 134,1);
		/*box-shadow: 0 1px 2px rgba(0,0,0,.1);*/
	}
	#main-header #header-nav {
		height: 56px;
	}
	#main-header #header-nav .logo {
		font-size: 36px;
	}
	#main-header #nav-trigger {
		top: 15px;
	}
	#wrapper {
		position: relative;
	}
	#wrapper.hidden {
		left: -240px;
	}
	#main-header .logo {
		color: #333;
		text-align: left;
		margin: 0;
	}	
	footer .container {
		width: 400px;
		margin: 0 auto;
	}
	#cover {
		background-position: 22% bottom;
	}
	#cover .container {
		width: 480px;
		padding: 200px 0 40px;
		text-align: left;
	}
	#cover h2,
	#cover p {
		/*text-align: right;
		padding-right: 0;*/
	}
	#cover h2 {
		font-size: 46px;
		line-height: 44px;
	}
	#cover p {
		font-size: 16px;
	}
	.column.one-third,
	.column.two-thirds,
	.column.one-half,
	.column.one-fourth,
	.column.three-fourths {
		width: 100%;
		padding-right: 0;
	}
    #about-us .about-us-img{
        width: 100px;
        height: 100px;
        min-height: 100px;
    }
	#you-get .column.one-third {
		width: 100%;
	}


	#areas-of-cooperation-container {
		margin: 30px 0 20px;
	}
    .button {
        font-size: 16px;
    }

}

@media all and (max-width: 480px) {
    #main-header.compact #header-nav .logo.img a {
        width: 148px;
    }
    #main-header.compact .logo3 {
        left: -40px;
        background: url('../images/logo3_.png') no-repeat 20% 50%;
    }
    #main-header.compact #header-nav .logo.img {
        left: 40px;
    }
    .contact-tel{
        font-size: 24px;
        line-height: 1.2;
    }
    #cover h2 {
        font-size: 46px;
        line-height: 1.2;
    }
    h2 {
        font-size: 1.8em
    }
    #header-nav ul li.home a{
        background: none;
        text-indent: 0;
        width: auto;
    }
    #header-nav ul li.home a:hover,
    #header-nav ul li.home.current a  {
        background: none;
    }
    #about-us .about-us-img{
        display: none;
    }

	section .container,
	footer .container,
	#cover .container {
		width: 260px;
	}
	#cover .container {
		padding: 150px 0 100px;
	}

	#areas-of-cooperation-container {
		text-align: center;
	}

	footer .container {
		text-align: center;
	}
	p#footer-copyright {
		float: none;
		margin: 0;
	}
	ul#footer-socials {
		float: none;
		text-align: center;
	}
	ul#footer-socials li {
		display: inline-block;
		float: none;
		margin: 15px 0 5px;
	}
	

}
@media all and (max-height: 768px) {
	h2 {
		margin-bottom: 20px;
	}
	.column-container {
		margin-top: 20px;
	}
	.container {
		padding-top: 20px;
	}
}

#price{
    height: 0!important;
    min-height: 0!important;
}
.target-link{
    height: 0;
    position: relative;
    top: -55px;
}

.price{
     padding-top: 56px;
 }
.price h3{
    /*text-align: center;*/
}
.price .column {
    padding: 0 10px 0 0;
    line-height: 1.2;
}
.price  .column.one-fourth{
    padding-bottom: 5px;

}
.price .column.price-bsu{
    font-size: 16px;
    min-height: 58px;
    padding-top: 20px;
}
@media all and (max-width: 1024px) {
    .price .column.price-bsu{
        min-height: 0;
    }
}

.price-description{
    font-size: 14px;
    margin-bottom: 20px;
    /*text-align: center;*/
}
.td20{
    min-height: 20px;
    width: 20%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: -20px;
}
.td33{
    min-height: 20px;
    width: 33%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: -20px;
}
.price .column-container{
    font-size: 19px;
    text-align: center;
    margin: 0 0 10px 0;
}
.price .column-container .column{
    margin: 0 0 10px 0;
}
.thead{
    color: #16A085;
	font-weight: 400;
	font-size: 22px;
}
.border-bottom{
    border-bottom: 1px solid #666666;
}
.price-good{
    background: url('../images/price.png') no-repeat 50% 50%;
}
.price-ufu-price.price-good{
    background-position: 0 50%;
}
@media all and (max-width: 1024px) {
    .price-ufu-price.price-good{
        background-position: 35% 50%;
    }
}
/*.link-price{
    color: #E0B518;
}*/
.price-ufu-title{
    font-size: 16px;
    display: table;
    width: 100%;
}
.price-ufu-title-center{
    height: 60px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;

}
@media all and (max-width: 1024px) {
    .price-ufu-title-center {
        height: 40px;
    }
}
.price .column.price-ufu-price{
    padding-top: 18px;
    padding-bottom: 18px;
}
@media all and (max-width: 1024px) {
    .price .column.price-ufu-price.price-good{
        padding-top: 18px;
        padding-bottom: 18px;
    }
}
@media all and (max-width: 1024px) {
    .price .column.price-ufu-price{
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
.price-ufu-tt{
    padding-top: 18px;
    padding-bottom: 18px;
	font-weight: 400;
}

.m{
    float: left;
    width: 50px;
}
.mm{
    width: 48px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    opacity: 0.8;
	transition: opacity 0.2s 0s linear, border 0.2s 0s linear;
	-webkit-transition: opacity 0.2s 0s linear, border 0.2s 0s linear;
	-moz-transition: opacity 0.2s 0s linear, border 0.2s 0s linear;
	-o-transition: opacity 0.2s 0s linear, border 0.2s 0s linear;
}
.m:hover .mm.yellow, .m.active .mm.yellow{
    opacity: 1;
    width: 48px;
    border-left: 1px solid #828282;
    border-right: 1px solid #828282;
}
.m:hover .mm.yellow.last, .m.active .mm.yellow.last{
    height: 48px;
    line-height: 48px;
    padding-top: 1px;
    border-bottom: 1px solid #828282;
}
.m:hover .mm.yellow.first, .m.active .mm.yellow.first{
    height: 48px;
    line-height: 48px;
    padding-bottom: 1px;
    border-top: 1px solid #828282;
}
.m:hover .mm.yellow.last.first, .m.active .mm.yellow.last.first{
    height: 48px;
    line-height: 48px;
    padding: 0;
}

.mmm, .mmmm{
    height: 48px;
    line-height: 48px;
    color: #fff;
    opacity: 0.8;
    cursor: pointer;
	transition: opacity 0.2s 0s linear, border 0.2s 0s linear;
	-webkit-transition: opacity 0.2s 0s linear, border 0.2s 0s linear;
	-moz-transition: opacity 0.2s 0s linear, border 0.2s 0s linear;
	-o-transition: opacity 0.2s 0s linear, border 0.2s 0s linear;
}
.mmmm{
    background: #16A086;
	border: 1px solid #16A086;
}
.mmm:hover, .mmm.active, .column-container-line:hover .mmmm{
    opacity: 1;
    /*height: 48px;
    line-height: 48px;*/
    border: 1px solid #828282!important;
}
.column-container-line .mc111{
    cursor: pointer;
}
.mm.yellow{
    cursor: pointer;
}
.m.m0 .mm.yellow, .mmm.m0{
    background: #5DF7D8;
}
.m.m30 .mm.yellow, .mmm.m30{
    background: #20EAC2;
}
.m.m60 .mm.yellow, .mmm.m60{
    background: #1BD1AC;
}
.m.m100 .mm.yellow, .mmm.m100{
    background: #1ABC9C;
}
.m.m101 .mm.yellow, .mmm.m101{
    background: #16A086;
}
.m0 .mm.yellow{
	border-left: 1px solid #5DF7D8;
	border-right: 1px solid #5DF7D8;
}
.m30 .mm.yellow{
	border-left: 1px solid #20EAC2;
	border-right: 1px solid #20EAC2;
}
.m60 .mm.yellow{
	border-left: 1px solid #1BD1AC;
	border-right: 1px solid #1BD1AC;
}
.m100 .mm.yellow{
	border-left: 1px solid #1ABC9C;
	border-right: 1px solid #1ABC9C;
}
.m101 .mm.yellow{
	border-left: 1px solid #16A086;
	border-right: 1px solid #16A086;
}
.mmm.m0{
	border: 1px solid #5DF7D8;
}
.mmm.m30{
	border: 1px solid #20EAC2;
}
.mmm.m60{
	border: 1px solid #1BD1AC;
}
.mmm.m100{
	border: 1px solid #1ABC9C;
}
.mmm.m101{
	border: 1px solid #16A086;
}
.mc1{
    padding-top: 70px;
}
.mc1, .mc11, .mc111{
	font-weight: 400;
	transition: all 0.2s 0s linear;
	-webkit-transition: all 0.2s 0s linear;
	-moz-transition: all 0.2s 0s linear;
	-o-transition: all 0.2s 0s linear;
}
/*дальше не менять*/
.column-container:hover .mc1, .column-container:hover .mc11, .column-container:hover .mc111{
	/*font-weight: 400;*/
	font-size: 20px;
	color: #16A086;
}
.mc11{
    padding-top: 35px;
}
.mc111{
    line-height: 50px;
	text-align: left;
}
.mc111.two-line{
    line-height: 25px;
}
.mc2{
    width: 250px;
    margin: auto;
}
.mc22{
    width: 150px;
    margin: auto;
}
.mc222{
	width: 200px;
	margin: auto;
}
.mc3{
    width: 200px;
    margin: auto;
}
.btn, .link-price{
	background: #16a086;
	color: #fff;
	display: block;
	padding: 15px;
	transition: all 0.2s 0s linear;
	-webkit-transition: all 0.2s 0s linear;
	-moz-transition: all 0.2s 0s linear;
	-o-transition: all 0.2s 0s linear;
}
.btn:hover, .link-price:hover{
	background: #18bf9d;
}
.btn2, .link-price2{
	background: #e0b518;
}
.btn2:hover, .link-price2:hover{
	background: #ffd223;
}